@keyframes fish {
	0% {
	  left: 20px;
	}
	50% {
	  left: 300px;
	}
	100% {
	  left: 20px;
	}
  }
  
  @keyframes fish-rotate {
	0% {
	  transform: scale(-1, 1)
	}
	50% {
	  transform: scale(1, 1)
	}
	100% {
	  transform: scale(-1, 1)
	}
  }